body {
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 60px;
	font-family: 'Ubuntu', sans-serif;
}

.navbar {
	font-family: 'Asap', sans-serif;
}

.col-sm-12.p {
	padding-left: 5em; 
	padding-right: 5em;
}

table a {
	color: cornflowerblue;
	font-weight: 600;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: darkgray;
}
