table {
	width: 100%;
}

table th {
	font-size: 1.3em;
}

table td {
	font-size: 1em;
	vertical-align: middle;
}

table th, td {
	padding: 4px;
	text-align: center;
	border-bottom: 1px solid #999;
	font-family: 'Ubuntu', serif;
}
