{% extends "base.html" %}
{% block title %} Cambiar fórmula {% endblock %}

{% block head %}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock head %}

{% block content %}
	<div class="row" style="padding-top: 2em">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class="content-section">
				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Cambiar tipo de ELO (Tipo actual: {{ elo_type }})</legend>
						<div class="form-group">
							{{ form.elo_type.label(class="form-control-label") }}
							{% if form.elo_type.errors %}
								{{ form.elo_type(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.elo_type.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.elo_type(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</fieldset>
					<div class="form-group">
						{{ form.submit(class="btn btn-outline-info") }}
					</div>
					<img src="../static/img/loading.gif" id="loading-animation" style="width: 2em;"/>
					<p id="loading-text">Esto tardará algunos segundos</p>
				</form>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row" style="padding-top: 2em">
		<div class="col-sm-4">
			<h2 class="math-heading">Tipo 1</h2>
			<hr>
			<h4 class="math-heading">Expectativa</h4>
			<p>
				\begin{gather*}
				E = \frac{1}{1+10^{-\left(\frac{R_1 - R_2}{MAX\_DIFF}\right)}}
				\end{gather*}
			</p>
			<hr>
			<h4 class="math-heading">K-Factor</h4>
			<h5 class="math-heading">Si ELO menor gana:</h5>
			<p>
				\begin{gather*}
				K= \frac{\Delta R + R_{MAX}}{2 \times R_{MAX}}
				\end{gather*}
			</p>
			<h5 class="math-heading">Si ELO mayor gana:</h5>
			<p>
				\begin{gather*}
				K= \left(1 - \frac{ \Delta R}{R_{MAX}}\right)\times\frac{1}{2}
				\end{gather*}
			</p>
		</div>
		<div class="col-sm-4">
			<h2 class="math-heading">Tipo 2</h2>
			<hr>
			<h4 class="math-heading">Expectativa</h4>
			<p>
				\begin{gather*}
				E = \frac{1}{1+10^{-\left(\frac{R_1 - R_2}{MAX\_DIFF}\right)}}
				\end{gather*}
			</p>
			<hr>
			<h4 class="math-heading">K-Factor</h4>
			<h5 class="math-heading">Si ELO menor gana:</h5>
			<p>
				\begin{gather*}
				K= \frac{\Delta R + R_{MAX}}{R_{MAX} \times 2 \times N_{TRIES}}
				\end{gather*}
			</p>
			<h5 class="math-heading">Si ELO mayor gana:</h5>
			<p>
				\begin{gather*}
				K= \left(1 - \frac{ \Delta R}{R_{MAX}}\right)\times\frac{1}{2 \times N_{TRIES}}
				\end{gather*}
			</p>
		</div>
		<div class="col-sm-4">
			<h2 class="math-heading">Tipo 3</h2>
			<hr>
			<h4 class="math-heading">Expectativa</h4>
			<p>
				\begin{gather*}
				E = \frac{1}{1+10^{-\left(\frac{R_1 - R_2}{MAX\_DIFF}\right)}}
				\end{gather*}
			</p>
			<hr>
			<h4 class="math-heading">K-Factor</h4>
			<h5 class="math-heading">Si ELO menor gana:</h5>
			<p>
				\begin{gather*}
				K= \frac{\Delta R + R_{MAX}}{R_{MAX} \times 2 \times N_{TRIES}}
				\end{gather*}
			</p>
			<h5 class="math-heading">Si ELO mayor gana:</h5>
			<p>
				\begin{gather*}
				K= \left(1 - \frac{ \Delta R}{R_{MAX}}\right)\times\frac{1}{2 \times N_{TRIES}}
				\end{gather*}
			</p>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row" style="padding-top: 2em">
		<h3 class="math-heading">Cálculo de puntuación</h3>
		<div></div>
		<p style="text-align: center;">
			\begin{gather*}
			R_{winner}' = R_{winner} + K \times (S_a - E_{winner})
			\end{gather*}
		</p>
		<p style="text-align: center;">
			\begin{gather*}
			R_{loser}' = R_{loser} + K \times (S_a - E_{loser})\\
			\end{gather*}
		</p>
	</div>
	<div class="row" style="padding-top: 2em">
		<h3 class="math-heading">Leyenda</h3>
		<div class="col-sm-6">
			<p>\begin{gather*} E \end{gather*}</p>
			<p style="text-align: center;">Expectativa de un usuario o problema de ganar un enfrentamiento.</p>
			<p>\begin{gather*} R_1, R_2\end{gather*}</p>
			<p style="text-align: center;">Puntuación ELO del Usuario y Problema (no necesariamente en ese orden).</p>
			<p>\begin{gather*} \Delta R\end{gather*}</p>
			<p style="text-align: center;">Valor absoluto de la diferencia de puntuaciones ELO del Usuario y Problema.</p>
			<p>\begin{gather*} R_{MAX}\end{gather*}</p>
			<p style="text-align: center;">Puntuación maxima que pueden alcanzar usuarios y problemas. <br> Para las pruebas, este valor será 16.</p>
		</div>
		<div class="col-sm-6">
			<p>\begin{gather*} N_{TRIES}\end{gather*}</p>
			<p style="text-align: center;">Número de intentos usados por el usuario para resolver el problema.</p>
			<p>\begin{gather*} S_a\end{gather*}</p>
			<p style="text-align: center;">Resultado del enfrentamiento. Será 1 en caso de victoria y 0 la derrota.</p>
			<p>\begin{gather*} K \end{gather*}</p>
			<p style="text-align: center;">Un factor que influye en el incremento o perdida de puntuación.</p>
			<p>\begin{gather*} MAX\_DIFF\end{gather*}</p>
			<p style="text-align: center;">Un usuario / problema con MAX_DIFF puntos de ventaja sobre su oponente, tendra una expectativa de ganar 10 veces mayor a la expectativa de ganar de su oponente. <br> El valor de MAX_DIFF utilizado es 8</p>
		</div>
	</div>
	<script type="text/javascript">
		$("#loading-animation").hide();
		$("#loading-text").hide();

	    $("input[name='submit']").click(function (e) {
	        $(this).hide();
	        $("#loading-animation").show();
	        $("#loading-text").show();
	        $(this).submit();
	    });
	</script>
{% endblock content %}