
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Dark Admin</title>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/local.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript" src="../static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />

    <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="https://www.prepbootstrap.com/Content/js/gridData.js"></script>
</head>
<body>
    <div id="wrapper">
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Admin Panel</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="active" class="nav navbar-nav side-nav">
                    <li class="selected"><a href="index.html"><i class="fa fa-bullseye"></i> Dashboard - User {{ data }}</a></li>
                    <li><a href="/portfolio"><i class="fa fa-tasks"></i> Portfolio</a></li>
                    <li><a href="/blog"><i class="fa fa-globe"></i> Blog</a></li>
                    <li><a href="/signup"><i class="fa fa-list-ol"></i> SignUp</a></li>
                    <li><a href="/register"><i class="fa fa-font"></i> Register</a></li>
                    <li><a href="/timeline"><i class="fa fa-font"></i> Timeline</a></li>
                    <li><a href="/forms"><i class="fa fa-list-ol"></i> Forms</a></li>
                    <li><a href="/typography"><i class="fa fa-font"></i> Typography</a></li>
                    <li><a href="/bootstrap-elements"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>
                    <li><a href="/insert_user"><i class="fa fa-list-ol"></i> Insert User</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">

                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>

                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <form class="navbar-search">
                            <input type="text" placeholder="Search" class="form-control">
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Dashboard - User {{ data }} <small>ELO Statistics Acepta El Reto</small></h1>

                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Elo Evolution Data</h3>
                        </div>
                        <div class="panel-body">
                            <div id="shieldui-chart1"></div>
                        </div>
                    </div>
                </div>
             <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-font"></i> Info</h3>
                        </div>
                        <div class="panel-body feed">

                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-plus-square-o"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        Nivel de Elo: 7,6
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-plus-square-o"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        Total problemas intentados: 68
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-plus-square-o"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                       Total problemas resueltos: 45
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-plus-square-o"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        Problema recomendado: <a href="#">¡Nos invaden!</a>.
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-plus-square-o"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        Problema recomendado: <a href="#">Árboles libres</a>.
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-plus-square-o"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        Problema recomendado: <a href="#">¡En primera línea de playa!</a>.
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Traffic Problems </h3>
                        </div>
                        <div class="panel-body">
                            <div id="shieldui-grid1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Status Problems</h3>
                        </div>
                        <div class="panel-body">
                           <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Status Problems</h3>
                        </div>
                        <div class="panel-body">
                            <div id="shieldui-chart2"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
        jQuery(function ($) {
            var performance = [8.0, 6.9, 4.8, 5.4, 6.4, 7.0, 7.5, 6.8, 5.0, 8.0, 9.3, 13.4],
                visits = [123, 323, 443, 32],
                traffic = [
                {
                    id: "260336", problem_id: "323", user_id: "1161", status: "AC", submissionDate: "2018-10-07 15:12:22"
                },
                {
                    id: "253981", problem_id: "323", user_id: "1161", status: "WA", submissionDate: "2018-10-07 15:15:34"
                },
                {
                    id: "260332", problem_id: "136", user_id: "1161", status: "WA", submissionDate: "2018-10-07 19:04:50"
                },
                {
                    id: "253953", problem_id: "136", user_id: "1161", status: "WA", submissionDate: "2018-10-07 20:02:49"
                },
                {
                    id: "260336", problem_id: "136", user_id: "1161", status: "TL", submissionDate: "2018-10-08 19:17:53"
                },
                {
                    id: "260336", problem_id: "323", user_id: "1161", status: "TL", submissionDate: "2018-10-09 22:22:41"
                },

                {
                    id: 260336, problem_id: "111", user_id: "1161", Percent: "AC", submissionDate: "2018-10-09 23:13:15"
                }];


            $("#shieldui-chart1").shieldChart({
                theme: "blue",

                primaryHeader: {
                    text: "ELO EVOLUTION"
                },
                exportOptions: {
                    image: false,
                    print: false
                },
                dataSeries: [{
                    seriesType: "area",
                    collectionAlias: "elo - level",
                    data: performance
                }]
            });


            $("#shieldui-chart2").shieldChart({
                theme: "blue",
                primaryHeader: {
                    text: "Total Problems "
                },
                exportOptions: {
                    image: false,
                    print: false
                },
                dataSeries: [{
                    seriesType: "pie",
                    collectionAlias: "problems",
                    data: visits
                }]
            });

            $("#shieldui-grid1").shieldGrid({
                dataSource: {
                    data: traffic
                },
                sorting: {
                    multiple: true
                },
                rowHover: false,
                paging: false,
                columns: [
                { field: "Source", width: "170px", title: "Source" },
                { field: "Amount", title: "Amount" },                
                { field: "Percent", title: "Percent", format: "{0} %" },
                { field: "Target", title: "Target" },
                ]
            });

        });        
    </script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'radar',

    // The data for our dataset
    data: {
        labels: ['Busqueda Binaria', 'Busqueda', 'Recorridos', 'Ad-hoc', 'Geometria', 'Grafos', 'Busqueda en el espacio de soluciones','Busqueda exhaustiva,vueta atras','Divide y venceras','Programacion dinamica','Algoritmos voraces','Ordenacion'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(30, 152, 228,0.5)',
            borderColor: 'rgb(0, 195, 205)',
            data: [5,8, 8, 12, 3.4, 5, 10,11,8,14.4,12,10.5],
            pointBackgroundColor: 'rgb(255, 255, 255)',
            pointHoverBackgroundColor: 'rgb(255, 255, 255)',
            pointHoverBorderColor: 'rgb(255, 255, 255)'
        }]
    },

    // Configuration options go here
    options: {
    scale: {
        ticks: {
        beginAtZero: true,
        min: 0,
         max: 16,
        stepSize: 20
        },
        pointLabels: {
        fontSize: 18
        }
  }}
});
    </script>
</body>
</html>
