
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Asap|Fira+Sans" rel="stylesheet">
</head>
<body>

	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="index.html">First Link</a></li>
						<li><a href="index.html">Second Link</a></li>
						<li><a href="index.html">Third Link</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="row">
			<div class="col">
				1 of 2
			</div>
			<div class="col">
				2 of 2
			</div>
		</div>
		<div class="row">
			<div class="col">
				1 of 3
			</div>
			<div class="col">
				2 of 3
			</div>
			<div class="col">
				3 of 3
			</div>
		</div>
	</div>    
</body>
</html>
