{% extends "base.html" %}
{% block content %}
		<div class="row" style="margin-left:5em; margin-right:5em;">
			<div class="col-sm-12">
				<h3 style="text-align: center;">Listado de Usuarios de la BD</h3>
				<table>
					<tr>
						<th>ID</th>
						<th>Nº de Problemas intentados</th>
						<th>Nº de Problemas resueltos</th>
					</tr>
					{% for u in users %}
					<tr>
						<td> <a href="users/{{u[0]}}">{{ u[0] }}</a></td>
						<td>{{ u[1] }}</td>
						<td>{{ u[2] }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
{% endblock %}